# OS
Thumbs.db
.DS_Store

# .NET
bin/
obj/
*.user

# Builds/artifacts grandes
*.iso
work/
toolchain/
EN/
JP/

# Python
__pycache__/
*.pyc

# PyInstaller build output
gui-interface/build/
gui-interface/dist/